// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';
@import 'resets';



.section {
  padding: 1rem;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

// Top Nav
.section-header {
  background-color: tomato;
  padding: 2rem;
}

.container-header {
  position: relative;
  display: flex;
  align-items: center;

}

.logo {
  position: absolute;
  top: 100%;

}


.nav-list {
  margin: 0;
  position: absolute;
  right: 1rem;
  display: flex;

  justify-content: center;

  &__item {
    margin-right: 1rem;
    padding: 0;
  }

}
